* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.image img {
  width: 375px;
  object-fit: cover;
}

header > nav {
  margin: 3vw;
  font-family: "Inconsolata", sans-serif;
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
}

.content > h1 {
  font-family: "Space Mono", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 95px;
  letter-spacing: -0.035em;
  text-align: left;
  margin-bottom: 36px;
}
.content > p {
  height: 108px;
  width: 381px;
  border-radius: nullpx;
  font-family: Space Mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.035em;
  text-align: left;
  margin-bottom: 64px;
}
.content > button {
  height: 68px;
  width: 216px;
  border-radius: 0px;
  background-color: #333333;
  color: white;
  font-family: "Space Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.035em;
}
footer > span {
  display: flex;
  padding-top: 100px;
  justify-content: center;
  color: #bdbdbd;
  font-family: "Montserrat", sans-serif;
}
footer > span > a {
  color: #bdbdbd;
}
@media (min-width: 1440px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .image {
    width: 55%;
  }
  .image img {
    width: 100%;
  }
} ;
